div{
	padding: 10px;
	margin:10px;
}
p {
	margin-bottom:10px;
}
h1{
	font-size:32px;
	color:white;
}
body{
	background:lightblue;
}
.gameTitle {
	background:brown;
	width:300px;
}
.instructions {
	background:lightgrey;
	width:400px;
}
.targetScore {
	background:green;
	width:200px;
	float:left;
	font-size:24px;
}
.winLoss{
	background:purple;
	float:left;
}
.crystals{
	clear:both;
}
.runningTotal {
	font-size:24px;
	background:teal;	
	width:300px;
}