p{
	margin:0;
	padding:0;
}
h1{
	font-size:32px;
	color:white;
	text-align: center;
}
body{
	background:lightblue;
}
.gameTitle {
	background:brown;
	width:400px;
	margin:0 auto;
}
.instructions {
	background:lightgrey;
	padding:2px;
}
.targetScore {
	background:green;;
}
.winLoss{
	background:#000080;
	color:white;
}
.crystals{
	margin-top:10px;
}
.runningTotal {
	background:teal;	
}
.numberBoxes>p{
	padding:4px;
	font-size:18px;	
}